.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    background-color: cornflowerblue;
    margin-bottom: 20px;
}

.link {
    font-weight: bold;
}